*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* html{
    mesmo efecto que com el script que hicimos en js , para hacer el scroll desplazar despacion
    scroll-behavior: smooth;
} */
body{
    min-height: 100vh;
    width: 100%
}
header{
    position: fixed;
    font-weight: bolder;
    text-shadow: 0px 5px 5px rgb(0, 166, 255);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color:rgba(1, 0, 0, 0.438);
    color: white;
    
}
main > section{
   min-height: 100vh;
}
section h1{
    text-align: center;
    padding-top: 100px;
}
#menu-hamburg{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 216, 230, 0.194);
    transition: 1s;
    overflow-y:auto;
    z-index: 999;
}
.painel{
    position: fixed;
    transform: translate(0,-200%);
}
.painel.isactive{
    position: fixed;
    transform: translate(0,0);
}
#menu-hamburg button{
    display: block;
    width: 100%;
    height:10%;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bolder;
    opacity: 0.7;
}

#menu-hamburg button:hover{
    font-size: 1.7em;
    font-weight: bolder;
    color: black;
    background-color: lightblue;
}
#button-hamburg{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: blue;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 999;
    cursor: pointer;
}
#button-hamburg img{
    width: 60%;
}
#button-hamburg:hover{
    box-shadow: 0 5px 10px darkblue;
    border-color:lightseagreen;
}
/* reloj Digital ==================== */
.reloj{
    display: none;
    justify-content: center;
    align-items: center;
    font-size:3em;
    color: lightblue;
    text-shadow: 0 2px 3px white;
    margin: auto;
    background-color:gray;
    width: 50%;
    height: 100px;
    border: 2px solid blue;
    border-radius: 20px;
    box-shadow: 0px 10px 10px blue, rgba(40, 2, 2, 0.221) 0px 0px 50px inset;
}
.butSection1{
    width: fit-content;
    margin:15px auto;
}
/* Atajos de Teclado */
#cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 30px;
    width: 80vw;
    min-height: 50vh;
    margin: auto;
    border:5px solid red;
    box-shadow: 0px 10px 8px black, black 0px 2px 10px inset;
}
#ball{
    width: 50px;
    min-height:50px;
    border-radius: 50%;
    background-color: gold;
}
/* CountDown */
#section3> form > *{
    text-align: center;
    display: block;
    margin:auto;
}
#section3 div{
    text-align: center;
   font-size: em;
    letter-spacing:5px;
    padding-top: 20px;
}
/* Boton de Scroll */

#scrollBtn{
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:blue;
    position: fixed;
    bottom: 2%;
    right: 100px;
}
#scrollBtn img{
    width: 70%;
}
/* Boton de Dark */
.btnLight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(249, 247, 234, 0.568);
    position: fixed;
    bottom: 2%;
    left: 2%;
}
.btnLight img{
    width: 90%;
}
.btnDark{
    background-color:rgb(4, 4, 31);
}
.bodyDark{
    background-color: rgba(5, 5, 30, 0.89);
    color: white;
}
/* responsive con JavaScript */

#section4 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
/* Responsive teste */
#section5 h1{
   margin-bottom: 20px;
}
#section5 input[type="text"],input[type="url"]{
    display: flex;
    margin:5px auto;
    padding:5px;
    
}
#section5 div{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* user Agent */
#section6 div{
    text-align: center;
}

/* ON - OFF Conexion */
.conexionOn,
.conexionOff{
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    z-index: 1000;
    background-color:lightgreen;
}
.conexionOff{
    background-color: lightcoral;
}
/* filtro de Busqueda  */

#section9 #cards{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    margin: auto;
}
#section9 input{
    width: 200px;
    margin: 10px auto;
    border: 2px solid black;
}
#cards figure{
    font-family: 1.3em;
    font-weight:bolder;
    transition: all 0.3s ease-out;
}
#cards figure img{
    width: clamp(80px, 300px, 150px);
    box-shadow: 10px 10px 10px black;
}
#cards figcaption{
    padding: 1px;
}
.filter{
   visibility: hidden;
   opacity: 0;
   order: 1;
}

/* Sorteo Digital */

#section10 input{
    padding: 3px 10px;
    box-shadow: 0 0 10px black;
    margin: 10px auto;
    border-radius: 10px;
}
#section10 input:hover{
    padding: 5px 15px;
    background-color: lightgreen;
}

.backcolor{
    background-color: lightgrey;
}
/* ScrollSpy */
#section11 .screen{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    width: 80%;
    height: 60vh;
}
#section11 .screen img{
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100%;
    border-radius: 10px; 
    transition: all 1.5s ease-out;
}
#section11 .screen > button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    border: none;
    cursor: pointer;
}
.screen #left{
    position: absolute;
    left: -5%;
    top:45%;
}
.screen #right{
    position: absolute;
    right: -5%;
    top:45%;
}
.elementOff{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

/* ScrollSpy */

@media screen and (min-width: 1000px){
    body{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: auto auto;
        grid-template-areas:  
        "header header"
        "main painel";
    }

    header{
        position: relative;
        top:0%;
        grid-area: header;
    }
    main{
        grid-area:main;
    }
    #menu-hamburg{
        position: sticky;
        top: 0%;
        grid-area:painel;
        display: flex;
        height: 100vh;
        flex-direction:column;
        flex-grow: 1;
    }
    #menu-hamburg button{
        font-size: 1em;
        text-align: right;
    }
    .painelSpy{
     background-color: gray;
        color: white;
    } 
    #button-hamburg{
        display: none;
    }
    .painel{
        transform: translate(0);
    }
    #menu-hamburg button:hover{
        font-size: 1.2em;
        color: black;
    }
    #scrollBtn{
        left: 10%;
    }

}

/* Video inteligente */
#section12 video{
    margin: auto;
    box-shadow: 10px 10px 10px black;
}
/* Formulario envio */
#section13 form{
    margin: auto;
    width: fit-content;
    max-width:500px;
    
}
#section13 form input{
    margin: 5px 0px;
    text-align: left;
    display: block;
    width:100%;
}
#section13 textarea{
    text-align: left;
    margin: 5px;
    padding: 5px;
    width: 450px;
    max-width: 450px;
    height: 200px;
    max-height:200px;
}
#section13 form input[type="submit"]{
    padding: 10px 0;
    color: gray;
    color: black;
}
#section13 form > section {
    position: relative;
}
.invalido{
    position:absolute;
    bottom: -40%;
    text-align: center;
    padding: 0 2px;
    background-color: red;
    color: black;
    width: 100%;
    z-index: 10;
}

